<h1 class="mb-4"><%= t("users.edit.form_edit") %></h1>
<div class='article'>
  <div class="card-body bg-white">
    <%= form_with model: @user do |f| %>
      <div class="mb-3 row">
        <%= f.label t("users.new.email"), class: "col-sm-2 col-form-label" %><br/>
        <div class="col-sm-6">
          <%= f.email_field :email, required: true, minlegth: 7, placeholder: "example@email.com", class: "form-control" %>
        </div>
      </div>
      <div class="mb-3 row"> 
        <%= f.label t("users.new.name"), class: "col-sm-2 col-form-label" %><br/>
        <div class="col-sm-6">
        <%= f.text_field :name, required: true, minlegth: 5, placeholder: "Jpyatachkov", class: "form-control" %>
        </div>
      </div>
      <div class="mb-3 row"> 
        <%= f.label t("users.new.password"), class: "col-sm-2 col-form-label" %><br/>
        <div class="col-sm-6">
        <%= f.password_field :password, required: true, minlegth: 12,  class: "form-control" %>
        </div>
      </div>
      <div class="mb-3 row"> 
        <%= f.label t("users.new.confirm_password"), class: "col-sm-2 col-form-label" %><br/>
        <div class="col-sm-6">
          <%= f.password_field :password_confirmation, required: true, minlegth: 12, class: "form-control" %>
        </div>
      </div>
      <div class="mb-3 row"> 
        <%= f.label t("users.new.body"), class: "col-sm-2 col-form-label" %><br/>
        <div class="col-sm-6">
          <%= f.text_area :body, required: true, minlegth: 4, placeholder: "What are you doing?", class: "form-control" %>
        </div>
      </div>
      <%= f.submit t("users.edit.save"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>