<h1 class="mb-4"><%= t("answers.edit.edit_answer") %></h1>
<div class='article'>
    <div class="card-body bg-white">
        <%= form_with model: [@question, @answer] do |form| %>
            <div class="mb-3 row"> 
            <%= form.label t("answers.edit.edit_your_answer"), class: "col-sm-2 col-form-label" %><br/>
            <div class="col-sm-9">
                <%= form.text_area :body, required: true, minlegth: 4, placeholder: "What are you doing?", class: "form-control" %>
            </div>
            </div>
        <%= form.submit t("answers.edit.save"), class: "btn btn-primary" %>
        <% end %>
    </div>
</div>